<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!loading">
    <ion-list>
      <ion-item *ngFor="let movie of movies" text-wrap>
        <h1 class="text-center">{{movie.headline}}</h1>
        <h4>{{movie.synopsis}}</h4>
        <p>{{movie.body}}</p>
        <ion-slides autoplay="100">

          <ion-slide *ngFor="let card of movie.cardImages">
            <img-loader useImg spinner="true" [src]="card.url" width="100%" fallback="assets/no-img.png"></img-loader>
          </ion-slide>

        </ion-slides>
        <h2>Key Art Images</h2>
        <ion-slides>

          <ion-slide *ngFor="let keyArtImage of movie.keyArtImages">
            <img-loader useImg spinner="true" src="https://www.w3schools.com/css/trolltunga.jpg" width="100%" fallback="assets/no-img.png"></img-loader>
          </ion-slide>

        </ion-slides>
      </ion-item>
    </ion-list>
  </div>
</ion-content>